.footer__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 1.12;
    transition: 0.3s;
}

.footer__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 360px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}
