.footer__links {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 50px));
    gap: 18px;
    max-width: 100%;
    list-style: none;
    padding: 0;
}

@media screen and (max-width:740px) {
    .footer__links {
        grid-template-columns: repeat(auto-fit, minmax(85px, max-content));
    }
}

@media screen and (max-width:460px) {
    .footer__links {
        gap: 32px;
    }
}