.page__footer {
    margin: 92px auto 24px;
}

@media screen and (max-width: 925px) {
    .page__footer {
        margin: 88px auto 24px;
    }
}

@media screen and (max-width: 360px) {
    .page__footer {
        margin: 64px auto 24px;
    }
}