.page__photo-grid {
    margin: 92px auto 0;
}

@media screen and (max-width: 925px) {
    .page__photo-grid {
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 360px) {
    .page__photo-grid {
        margin: 64px auto 0;
    }
}
